[Unit]
Description=Barkasse Hub UI Backend
After=network-online.target docker.service auto-git-update.service
Wants=network-online.target

[Service]
User=pi
WorkingDirectory=/home/pi/barkasse-hub/pi/app
ExecStart=/home/pi/barkasse-hub/pi/app/.venv/bin/uvicorn main:app --host 0.0.0.0 --port 8080
Restart=always

[Install]
WantedBy=multi-user.target
