# move to /etc/systemd/system/barkasse-ui.service

[Unit]
Description=Barkasse Hub (Node-RED + UI)
After=network.target
Wants=network.target
Conflicts=nodered.service

[Service]
User=hub
Group=hub
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
WorkingDirectory=/home/hub/barkasse-hub
ExecStartPre=/usr/bin/test -d /home/hub/.node-red
ExecStartPre=/usr/bin/test -f /home/hub/.node-red/flows.json
ExecStartPre=/usr/bin/test -f /home/hub/.node-red/settings.js
ExecStart=/usr/bin/env node-red
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
